language: c
compiler:
    - gcc
    - clang
before_install:
    - sudo apt-get update
    - sudo apt-get -y install tree
script:
    - export CC="$CC" TEST_PREFIX="`pwd`/test_prefix"
    - source ./test.bash
    - install_bin "$CC" "$TEST_PREFIX"
    - cleanup "$TEST_PREFIX"
    - install_quotes "$CC" "$TEST_PREFIX"
    - cleanup "$TEST_PREFIX"
    - install_man "$CC" "$TEST_PREFIX"
    - cleanup "$TEST_PREFIX"
    - install_zsh_compdef "$CC" "$TEST_PREFIX"
    - cleanup "$TEST_PREFIX"
    - install_all "$CC" "$TEST_PREFIX"
    - ${TEST_PREFIX}/bin/yasuna --version
    - ${TEST_PREFIX}/bin/yasuna --help
    - ${TEST_PREFIX}/bin/yasuna
    - random_test "$TEST_PREFIX"
    - sequential_test "$TEST_PREFIX"
    - rm -rf ${TEST_PREFIX}
    - unset TEST_PREFIX
